<a href="https://colab.research.google.com/github/221230049-web/221230049-Pengantar-ML/blob/main/week-02/latihan_praktikum_3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3. PANDAS

In [ ]:
import pandas as pd
import numpy as np

# ANALISIS DATA RETAIl

# Buat dataset acak
rng = np.random.default_rng(42)
tanggal = pd.date_range(start='2023-01-01', end='2023-03-31', freq='D')

data_retail = pd.DataFrame({
    'tgl_transaksi': rng.choice(tanggal, size=1000),
    'id_produk': rng.integers(low=1, high=11, size=1000),
    'jumlah': rng.integers(low=1, high=10, size=1000),
    'harga': rng.uniform(low=10.0, high=100.0, size=1000),
    'id_pelanggan': rng.integers(low=1, high=101, size=1000)
})

# kolom pendapatan
data_retail['pendapatan'] = data_retail['jumlah'] * data_retail['harga']

# 1. Total pendapatan per produk
pendapatan_produk = (
    data_retail
    .groupby('id_produk')['pendapatan']
    .sum()
    .sort_values(ascending=False)
)

# 2. 5 pelanggan dengan spending terbesar
pelanggan_top5 = (
    data_retail
    .groupby('id_pelanggan')['pendapatan']
    .sum()
    .nlargest(5)
)

# 3. Revenue harian
pendapatan_harian = (
    data_retail
    .groupby('tgl_transaksi')['pendapatan']
    .sum()
)

# 4. Fungsi deteksi anomali jumlah
def cek_anomali_jumlah(df, batas=2.0):
    rata2 = df['jumlah'].mean()
    stddev = df['jumlah'].std()
    skor = (df['jumlah'] - rata2) / stddev
    df = df.copy()
    df['z_jumlah'] = skor
    return df[np.abs(skor) > batas]

anomali = cek_anomali_jumlah(data_retail)

print("=== ANALISIS DATA RETAIL ===\n")
print("1. Pendapatan per Produk:")
print(pendapatan_produk)

print("\n2. Top 5 Pelanggan:")
print(pelanggan_top5)

print("\n3. Pendapatan Harian (10 teratas):")
print(pendapatan_harian.head(10))

print(f"\n4. Jumlah anomali terdeteksi: {len(anomali)}")
print("Contoh data anomali:")
print(anomali[['tgl_transaksi', 'id_produk', 'jumlah', 'z_jumlah']].head())

# BONUS: tren bulanan
data_retail['bulan'] = data_retail['tgl_transaksi'].dt.month
pendapatan_bulanan = data_retail.groupby('bulan')['pendapatan'].sum()
print("\n=== BONUS ===")
print("Pendapatan Bulanan:")
print(pendapatan_bulanan)

=== ANALISIS DATA RETAIL ===

1. Pendapatan per Produk:
id_produk
9     32291.089134
4     29238.074459
1     28797.303326
10    28582.900472
3     28422.121411
2     26919.385381
8     26527.116103
6     25596.419205
7     25307.624342
5     23850.015506
Name: pendapatan, dtype: float64

2. Top 5 Pelanggan:
id_pelanggan
25    5586.683852
53    5453.190749
92    4718.510616
26    4650.925000
55    4525.282227
Name: pendapatan, dtype: float64

3. Pendapatan Harian (10 teratas):
tgl_transaksi
2023-01-01    2561.232596
2023-01-02    3504.388925
2023-01-03    2217.126506
2023-01-04    2879.696562
2023-01-05    4010.232610
2023-01-06    1872.300564
2023-01-07    1008.276507
2023-01-08    3428.786914
2023-01-09    7166.167796
2023-01-10    2412.544279
Name: pendapatan, dtype: float64

4. Jumlah anomali terdeteksi: 0
Contoh data anomali:
Empty DataFrame
Columns: [tgl_transaksi, id_produk, jumlah, z_jumlah]
Index: []

=== BONUS ===
Pendapatan Bulanan:
bulan
1    93394.126349
2    89288.482801
3    92849.440189
Name: pendapatan, dtype: float64